.discount{
    background-image: url(../../assets/discount.png);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.discount-header{
    font-size: 28px;
    font-family: 'Lemonada', cursive;
    color: rgb(130, 173, 44);
}
.discount-para{
    color: #333;
    text-align: center;
}

.time{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}

.time-d{
    font-size: 18px;
    font-weight: 100;
    padding: 10px;
}
.discount-btn{
    padding: 8px 24px;
    background-color: rgb(130, 173, 44);
    color: white;
    border-radius: 35px;
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid transparent;
}
.discount-btn:hover{
    border: 2px solid black;
}

@media (max-width: 768px) {
    .time{
        font-size: 20px;
    }
}





