.footer{
    background-color: hsl(0 0% 0% / 0.9);
    margin-top: 80px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

.footer-ul{
    margin-top: 50px;
}
.footer-ul li{
    list-style: none;
}

@media (max-width: 768px) {
    .footer{
        display: block;
        text-align: center;
        height: 100%;
    }
}
